* {
	margin:0;
	padding:0;	
}

html, body {
	height: 100%;	
	font-size: 100%;
	background-color: #F6F6F6;	
}

a {
	text-decoration: none;
	color: #000;
	padding: 10px;
}

a:hover {
	text-decoration: none;	
}

#top-nav a:hover {	
	border-bottom: 1px solid #52A488;
}

#top-nav h1>a:hover {
	border-bottom: none;
}

header {	
	width: 100%;
	margin: auto;
	height: 150px;	
	text-align: center;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-variant: small-caps;
}

#top-nav {
	margin-top: 25px;
	min-width: 550px;
}

#top-nav h1 {
	font-size: 4em;
}

#top-nav h3 {
	margin: 5px 0;
	font-size: 1.5em;
}

#top-nav ul {	
	margin: 25px auto 0 auto;	
	font-size: 1.2em;
}

#top-nav li {	
	display: inline;
	margin: 5px;
	padding: 5px;
}

#projects, #about {
	margin: 25px 10% 0 10%;
	min-height: 80%;
	height: auto;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 3px #000;
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	font-size: 1.2em;
	line-height: 1.5em;
}

#projects ul {	
	list-style: none;	
	width: 80%;
	margin: auto;
	padding-top: 40px;
}

#projects li {
	float: left;
	margin: 10px;
}

#projects img {
	border: 1px solid;
}

#projects a {	
	padding: 2px;
	display: block;
}

#projects a:hover {
	text-decoration: underline;
}

#clear {
	clear: both;
}

#about {
	text-align: justify;
}

#about>div{
	width: 80%;
	margin: auto;
	min-height: 100%;
	height: auto;
}

#about>div>div {
	margin-bottom: 30px;
	padding-top: 40px;
}

#about span {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 2em;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-variant: small-caps;
	line-height: 1.5em;
}

#schools {
	text-align: center;
}

#about img {
	vertical-align: top;	
	margin: 0 10px;
}

#about a {
	text-decoration: none;
}

.hidden {
	display: none;
}

